<a href="https://colab.research.google.com/github/Igoole-1/Homework_Python/blob/main/lesson_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head()

In [11]:
import pandas as pd
import random
import numpy as np

In [12]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

In [13]:
data = pd.DataFrame({'whoAmI':lst})

In [14]:
data.head()

  whoAmI
0  human
1  human
2  human
3  robot
4  robot

In [15]:
fiction_data = data.copy()

In [16]:
fiction_data['Robot'] = np.where(fiction_data['whoAmI']=='robot', 1, 0)
fiction_data['Human'] = np.where(fiction_data['whoAmI']=='human', 1, 0)

In [17]:
fiction_data.drop(columns=['whoAmI'],axis=1,inplace=True)

In [18]:
fiction_data.head()

   Robot  Human
0      0      1
1      0      1
2      0      1
3      1      0
4      1      0